.full_light {
  height: 30vh;
  width: 5vw;
}

.flame {
  height: 50px;
  width: 20px;
  top: 16vh;
  object-fit: fill;
  position: absolute;
}

.lys {
  height: 30vh;
  width: 5vw;
  position: absolute;
  top: 20vh;
}

.cupcake {
  height: 40vh;
  width: 38vw;
  z-index: 1;
  position: absolute;
  top: 30vh;
}

.text {
  position: absolute;
  top: 70vh;
}

.text2 {
  position: absolute;
  top: 80vh;
  font-size: small;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: pink;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  font-style: italic;
  color: white;
}

.bottom {
  bottom: 0;
  color: pink;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 500px) {
  .full_light {
    height: 20vh;
    width: 10vw;
  }
  
  .flame {
    height: 40px;
    width: 10px;
    top: 17vh;
    object-fit: fill;
    position: absolute;
  }
  
  .lys {
    height: 30vh;
    width: 10vw;
    position: absolute;
    top: 20vh;
  }
  
  .cupcake {
    height: 30vh;
    width: 100vw;
    z-index: 1;
    position: absolute;
    top: 30vh;
  }
  
  .text {
    position: absolute;
    top: 70vh;
  }

  .text2 {
    position: absolute;
    top: 80vh;
    font-size: small;
  }
  
}